<label>EDITAR</label>
<input type="checkbox" [checked]="editar" (change)="editar = !editar"><br><br>  

<div>          
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Email</th>
        <th>Sexo</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let per of personas" [ngClass]="{'rose': per.sexo == 'f'}">
        <td>{{ per.nombre }}</td>
        <td>{{ per.email }}</td>
        <td>{{ per.sexo }}</td>
        <td><img src="../assets/{{ per.foto }}" width="25%" height="25%"></td>
        <td><button (click)="deletePerson(per.id)">Eliminar</button> </td>
      </tr>
    </tbody>
  </table>
</div>

<div *ngIf="editar"  style="background-color: gray;">
    Nombre:<br>
    <input type="text" [(ngModel)]="persona.nombre">
    <br>
    Email:<br>
    <input type="text" [(ngModel)]="persona.email">
    <br>
    Sexo:<br>
    <select [(ngModel)]="persona.sexo">
      <option value="m">Masculino</option>
      <option value="f">Femenino</option>
    </select>
    <br><br>
    <button (click)="savePerson()">Enviar</button> 
</div>

<app-mostrar-persona [pers]="this.persona"></app-mostrar-persona> 

